.hero {
  width: 100%;
  height: 320px;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-image: url("https://images.unsplash.com/photo-1607627000458-210e8d2bdb1d");
  background-size: cover;
  background-position: center;
}

.span {
  color: var(--nav-text-color);
}

.par {
  font-weight: bold;
  margin-bottom: 25px;
}

.button {
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.81);
  border-radius: 10px;
  color: var(--primary-color);
  font-size: 1.2rem;
  border: 2px solid var(--primary-color);
}

.button:active {
  background-color: black;
  scale: 0.98;
}

@media (min-width: 577px) and (max-width: 992px) {
  .hero {
    max-width: 992px;
    height: 500px;
    position: relative;
    overflow: hidden;
    background-image: none;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1607627000458-210e8d2bdb1d");
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
    z-index: -1;
  }

  .hero.zoom::before {
    transform: scale(1.1);
  }

  .titulo {
    font-size: 3rem;
    white-space: nowrap;
  }

  .par {
    font-size: 1.2rem;
  }

  .button:hover {
    background-color: black;
    scale: 0.95;
  }
}

@media (min-width: 993px) {
  .hero {
    max-width: none;
    position: relative;
    overflow: hidden;
    background-image: none;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1607627000458-210e8d2bdb1d");
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
    z-index: -1;
  }

  .hero.zoom::before {
    transform: scale(1.1);
  }

  .titulo {
    font-size: 3.5rem;
    white-space: nowrap;
  }

  .par {
    font-size: 1.4rem;
  }

  .button:hover {
    background-color: black;
    scale: 0.95;
  }
}
