.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
  border-bottom: 2px solid var(--text-color-two);
}

.imagem {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.section p {
  text-align: justify;
  line-height: 1.5;
}

@media (min-width: 577px) and (max-width: 992px) {
  .section {
    padding: var(--spacing-sm);
    align-self: start;
    border-bottom: none;
  }
}

@media (min-width: 993px) {
  .section {
    padding: var(--spacing-lg);
    align-self: start;
    border-bottom: none;
  }
}
